<div class="row">
  <div class="col-md-12">
      <footer class="text-center text-lg-start bg-dark text-white">
          <section class="container d-flex justify-content-center justify-content-lg-between p-4">
              <div class="me-5 d-none d-lg-block">
                  <span>Get Connected with us on Social Networks:</span>
              </div>
              <div>
                  <a href="#" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="me-4 text-reset"><i class="fa fa-google"></i></a>
                  <a href="#" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="me-4 text-reset"><i class="fa fa-user"></i></a>
                  <a href="#" class="me-4 text-reset"><i class="fa fa-github"></i></a>
              </div>
          </section>
          <section class="">
              <div class="container text-center text-md-start mt-5">
                  <div class="row mt-3">
                      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                          <h6 class="text-uppercase fw-bold mb-4">
                              <i class="fas fa-comments-dollar"></i>StoreTech
                          </h6>
                          <p>
                              Storeing.co is a one stop destination for your family's fashion needs.
                              We give you the opportunity to give wardrobe a makeover with the latest
                              collections from our top brand
                          </p>
                      </div>
                      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                          <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                          <p>
                              <a href="#!" class="text-reset">Bikes</a>
                          </p>
                          <p>
                              <a href="#!" class="text-reset">Cars</a>
                          </p>
                          <p>
                              <a href="#!" class="text-reset">Mahaindra Tractors</a>
                          </p>
                          <p>
                              <a href="#!" class="text-reset">Jcb</a>
                          </p>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 mb-auto mb-4">
                          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                          <p>
                              <a href="#!" class="text-reset">Bikewale</a>
                          </p>
                          <p>
                              <a href="#!" class="text-reset">Automaker</a>
                          </p>
                          <p>
                              <a href="#!" class="text-reset">Bajaj storeroom</a>
                          </p>
                          <p>
                              <a href="#!" class="text-reset">Maruthi storeroom</a>
                          </p>
                      </div>
                      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                          <p>
                              <i class="fa fa-home"></i>Vij Tech
                          </p>
                          <p>
                              <i class="fa fa-envelope"></i>vijTech@example.com
                          </p>
                          <p>
                              <i class="fa fa-home"></i>+91 7010239965
                          </p>
                      </div>
                  </div>
              </div>
          </section>
          <div class="text-center p-4">
              @copy; 2022 Copyright <a class="text-reset fw-bold" href="www.google.com">VijTech.in</a>
          </div>
      </footer>

  </div>
</div>
</div>