<div
  class="offcanvas offcanvas-start bg-dark"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">
      Personal Information
    </h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div
      class="text-center"
      style="
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
          sans-serif;
        color: crimson;
      "
    >
      {% load static %}
      <img
        src="{% static  './pro.jpeg' %}"
        alt="profile"
        width="300"
        height="350"
        class="rounded-circle"
        style="border:3px solid #fff"
      /><br />
      <h2 class="text-primary fw-4">Vijay kumar</h2>
      <h6>Computer Science Engineering</h6>
      <h6>Feature Cybersecurity Engineering</h6>
      <p>Founder of web Application</p>
    </div>
    <div class="dropdown mt-3">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
      >
        Bikes Models(Expensive)
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Kawasaki Ninja H2R</a></li>
        <li>
          <a class="dropdown-item" href="#">Energica Ego 45 Limited Edition</a>
        </li>
        <li><a class="dropdown-item" href="#">Vyrus 987 C3 4V</a></li>
        <li><a class="dropdown-item" href="#">MV Agusta F4CC</a></li>
        <li><a class="dropdown-item" href="#">NCR MH TT(Mike Haliwood)</a></li>
        <li>
          <a class="dropdown-item" href="#"
            >NCR Leggra 1200 Titaniuam Special</a
          >
        </li>
        <li><a class="dropdown-item" href="#">Icon sheene</a></li>
      </ul>
    </div>
    <h5 class="text-danger mt-3 mb-3">Trending Bikes and Cars</h5>
    <ul class="list-group list-group-md">
      <li class="list-group-item mt-3 text-success">
        Neiman Marcus Limited Edition Fighter (<span class="text-primary"
          >Bike</span
        >)
      </li>
      <li class="list-group-item mt-3 text-success">
        1949 E90 AJS Porcupine (<span class="text-primary">Bike</span>)
      </li>
      <li class="list-group-item active mt-3">
        The Yamaha BMS Chopper (<span class="text-dark">Bike</span>)
      </li>
      <li class="list-group-item mt-3 text-success">
        Haraley Davidson Cosmic Starship (<span class="text-primary">Bike</span
        >)
      </li>
      <li class="list-group-item mt-3 text-success">
        Dodge Tomahawk(<span class="text-primary">Bike</span>)
      </li>
      <li class="list-group-item mt-3 text-success">
        Legendary British Vintage Black(<span class="text-primary">Bike</span>)
      </li>
      <li class="list-group-item mt-3 text-success">
        Ecosse Founder's Edition Ti XX(<span class="text-primary">Bike</span>)
      </li>
      <li class="list-group-item mt-3 text-success">
        Ducati Testa Stretta NCR Macchia Nera(<span class="text-primary"
          >Bike</span
        >)
      </li>
      <li class="list-group-item mt-3 text-success">
        Suzuki AEM Carbon Fiber Hayabusa (<span class="text-primary">Bike</span
        >)
      </li>
      <li class="list-group-item mt-3 text-success">
        Honda R3213 V-S(<span class="text-primary">Bike</span>)
      </li>
      <li class="list-group-item mt-3 text-success">
        MTT Turbine Streetfighter(<span class="text-primary">Bike</span>)
      </li>
      <li class="list-group-item mt-3 text-success">
        Icon Sheena(<span class="text-primary">Bike</span>)
      </li>
    </ul>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid p-2">
    <a
      class="px-4"
      style="
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.7rem;
        color: cyan;
        text-decoration: none;
      "
      data-bs-toggle="offcanvas"
      href="#offcanvasExample"
      role="button"
      aria-controls="offcanvasExample"
    >
      StoreTech Info
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item p-2">
          <a
            class="nav-link active"
            aria-current="page"
            style="color: red"
            href="#"
            >Home</a
          >
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" style="color: red" href="{% url 'bikes'  %}"
            >MainPage</a
          >
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" style="color: red" href="{% url 'modal'  %}"
            >Modals</a
          >
        </li>
        <li class="nav-item dropdown p-2">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            style="color: red"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Locations(available)
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Chennai</a></li>
            <li><a class="dropdown-item" href="#">Madhurai</a></li>
            <li><a class="dropdown-item" href="#">Comiambatore</a></li>
            <li><a class="dropdown-item" href="#">Kumbakonam</a></li>
            <li><a class="dropdown-item" href="#">Thirunveli</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Trichy</a></li>
          </ul>
        </li>
        <li class="nav-item p-2">
          <a
            class="nav-link disabled"
            style="color: red"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Company Activities</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
